{% extends './base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<div class="mt-3 container">
		{% if app.user %}
			<h1>Bonjour
				{{ app.user.prenom }}
				{{ app.user.nom|upper }}</h1>
		{% endif %}

	</div>
{% endblock %}
