<footer class="text-center bg-body-tertiary mt-4" style="background-color: #AE9A88; color: #F1EFE7">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        style="color: #F1EFE7 !important"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        style="color: #F1EFE7 !important"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        style="color: #F1EFE7 !important"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        style="color: #F1EFE7 !important"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        style="color: #F1EFE7 !important"
        ><i class="fab fa-linkedin"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: #6A5A4C;">
    © 2024 Copyright:
    <a class="text-body" style="color: #F1EFE7 !important" href="https://mdbootstrap.com/">MaPiledeLinge.com</a>
  </div>
</footer>